.sidebar {
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;

    @media screen and (max-width: $bp-large) {
        grid-column: 1 / -1;
        grid-row: 1 / 2;

        justify-content: flex-end;
        align-items: center;
    }

    display: flex;
    justify-content: center;

    
}

.nav__btn {
    border-radius: 0;
    border : none;

    background-color: #fff;
    height: 2px;
    width: 4.5rem;


    &::after, 
    &::before {
        background-color: #fff;
        height: 2px;
        width: 4.5rem;
        content: "";
        display: block;

    }

    &::before {
        transform: translateY(-1.5rem);
    }

    &::after {
        transform: translateY(1.3rem);
    }

    @media screen and (max-width: $bp-large) {
        margin-bottom: 1.7rem;

        &::before {
            transform: translateY(-1.2rem);
        }
    
        &::after {
            transform: translateY(1rem);
        }
    }

}